.Keypad {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 6.5px;
}

.KeypadButton {
    width: 100%;
    font-family: 'DS-Digital', monospace;
    font-size: 30px;
    padding: 12px;
}

.Placeholder{
  /* occupies space but not visible/clickable */
  visibility: hidden;
  pointer-events: none;
}